body {
    margin: auto;
    background-color: lightcyan;
    text-align: center;
}

.header {
    color: teal;
    padding: 0.9% 3% 0.9% 3%;
}

#title {
    text-decoration: underline;
}

#gallery-container {
    padding: 1.8% 2.1% 2.1% 2.1%;
}

img {
    max-width: 255px;
}

.header3 {
    color: red;
}

.section-title {
    color: #F28500;
    text-align: left;
    padding-left: 4.5%;
}

.content {
    padding: 2% 3% 3% 3%;
}

p {
    color: black;
    padding-left: 1.8%;
    padding-right: 1.8%
}
